#dropzone {
    background-color: powderblue;
    margin: 1%;
    padding: 1%;
    min-height: 100vh;
    font-size: 150%;
}

.node {
    box-sizing: border-box;
    background-color: cornsilk;
    margin: 1.666666%;
    padding: 1%;
    border: 3px skyblue solid;
    width: 30%;
    float: left;
}

@media only screen and (max-width: 600px) {
    .node{
        float: none;
        width: auto;
    }
}