#dropzone {
    background-color: powderblue;
    margin: 1%;
    padding: 1%;
    min-height: 100vh;
}

.node {
    box-sizing: border-box;
    background-color: cornsilk;
    margin: 1.666666%;
    padding: 1%;
    border: 3px skyblue solid;
    width: 21.6%;
    float: left;
}

/*.image{*/
/*    height:20%;*/
/*}*/

.footer{
    background-color: aqua;
    padding: 5px
}

img{
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .node{
        float: none;
        width: auto;
    }
}