<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <script src="{{ url_for('static', filename='js/index.js') }}" defer></script>
    <title>Document</title>
</head>
<body>
    <div id="top-nav-bar">
        <div class="nav-parts" id="name">
            FELIX
        </div>
        <div class="nav-parts" id="page-name">
            Portfolio
        </div>
        <div class="nav-parts">
            <button id="menu" type="button" class="nav-button"></button>
            <button id="search" type="button" class="nav-button"></button>
            <button id="about" type="button" class="nav-button"></button>
        </div>
    </div>
    <div id="container">
        <div id="header">
            <div id="main-image-box"></div>
            <div id="main-text-box">
                <p>
                    A discerning quid ut etus re corepudia idicium dem anihicipid que molorem im
                    escimped quatiis ute omnim impe vellesequo dit acea sum que periatet ut et veliquias pelit essit quaturi busandi andenem dolori verum nossus utate mo blate
                    nobit la volupti occusam, officaes et verum, coresci isimolorecto quo blaccum
                    aditae coris molore volorro quo beaquat hilitis dolut omnihilicid ma volupti
                    orrovit ut et molo minihil explignis untiostota cus apicat aut de officiatiis etureiu
                    repudaero optas modit et volori sum quibus ad qui dipsum quiam fuga. Ihilitius.
                    Tamus exerumque viducillibus rendust quodi te dolorum rerum eosae. Biscia id
                    quasimus dit antoreptam qui offic to quunt.<br><br>
                    Ad et, ommolor ionsequo doluptati aliae eat pligenime ni ut vol
                </p>
                <button type="button" id="email-button">Send an email</button>
            </div>
        </div>
    </div>
</body>
</html>